@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafaf4;
  color: #1a1c19;
}

@layer utilities {
  .reveal {
    opacity: 0;
    transform: translateY(2.5rem);
    transition: opacity 800ms ease-out, transform 800ms ease-out;
  }
  .reveal-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
